.background.mobile_web
  .black.center_vertically
    %h1.white-text
      ABC Bank Login

    = form_for @user, url: :check_login do |f|
      .white-text= f.label :username
      = f.text_field :username, required: true, autofocus: true
      .white-text= f.label :password
      = f.password_field :password, required: true
      = f.submit 'Login'